body{
    margin:0px;
    padding:0px;
}

.countdown {
  font-family: sans-serif;
  font-size: 30.0vw;
  text-align: center;
  color: red;
  line-height: 0.9em;
}

.countup {
  font-family: sans-serif;
  font-size: 30.0vw;
  text-align: center;
  color: green;
  line-height: 0.9em;
  display: none;
}

.time {
  font-family: sans-serif;
  font-size: 18.0vw;
  text-align: center;
  color: black;
  line-height: 0.9em;
}


.card {
	width: 100%;
	height: 100%;
	margin: 0px;
}
.front, .back { padding: 0px; }
.front {}
.back {}

.form-style-2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    //text-align: right;
    max-width: 50%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    //width: 100px;

    font-weight: bold;
    //float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 input.input-field{
    //width: 48%;
   
}
.form-style-2 input.input-field,
.form-style-2 .select-field{
    width: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
